In [1]:
filepath = 'C:\\Users\\HP\\Documents\\xskt.xlsx'
import pandas as pd
df = pd.read_excel(filepath)
def count_k(k):
    dict_count= {}
    count = 0
    for i in range(1,100,1):
        for x in df[str(k)]:
            if i == x:
                count += 1
        dict_count['count_' + str(i) ] = [count] 
        c = pd.DataFrame.from_dict(dict_count)
        count = 0
    return c
haha = {}
def hihi(m):
    for m in range(1,m+1,1):
        haha['dict_count_cua_df_' + str(m)] = count_k(m)
    return haha
for i in hihi(len(df.columns)):
    print(i)

dict_count_cua_df_1
dict_count_cua_df_2
dict_count_cua_df_3
dict_count_cua_df_4
dict_count_cua_df_5
dict_count_cua_df_6

In [2]:
a = hihi(len(df.columns))

In [6]:
a['dict_count_cua_df_1']+a['dict_count_cua_df_2']

,count_1,count_2,count_3,count_4,count_5,count_6,count_7,count_8,count_9,count_10,...,count_90,count_91,count_92,count_93,count_94,count_95,count_96,count_97,count_98,count_99
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0